nav {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    margin: 0 10px;
    padding: 8px;
    text-decoration: none;
    color: black;
    font-size: 2em;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    
}

.active {
    text-decoration: underline;
    font-weight: bolder;
    font-style: italic;
    box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.3);
}